<ul class="align-middle list-unstyled p-3 m-0">
  <li class="d-inline">
    <%= relevant_preferences_like_link(movie, @user_movie_preferences) %>
  </li>
  <li class="d-inline">
    <%= relevant_preferences_hate_link(movie, @user_movie_preferences) %>
  </li>
</ul>
