<div class="movie">
  <%= link_to movie.title, movie_path(movie) %>
  <div class="movie__actions">
    <%= button_to "Delete",
                  movie_path(movie),
                  method: :delete,
                  class: "btn btn--light" %>
    <%= link_to "Edit",
                edit_movie_path(movie),
                class: "btn btn--light" %>
  </div>
</div>
