<% if user_signed_in? && movie.user != current_user %>
  <ul class="align-middle list-unstyled p-3 m-0">
    <li class="d-inline">
      <%= relevant_preferences_like_link(movie, @user_movie_preferences) %>
    </li>
    <li class="d-inline"> | </li>
    <li class="d-inline">
      <%= relevant_preferences_hate_link(movie, @user_movie_preferences) %>
    </li>
  </ul>
<% else %>
  <ul class="align-middle list-unstyled p-3 m-0">
    <li class="d-inline">
      <%= movie.like_count.to_s + " likes" %>
    </li>
    <li class="d-inline"> | </li>
    <li class="d-inline">
      <%= movie.hate_count.to_s + " hates" %>
    </li>
  </ul>
<% end %>
