<main class="container">
  <%= link_to sanitize("&larr; Back to movies"), movie_path(@movie) %>

  <div class="header">
    <h1>Edit movie</h1>
  </div>

  <%= render "form", movie: @movie %>
</main>
