<main class="container">
  <%= link_to sanitize("&larr; Back to movies"), movies_path %>
  <div class="row justify-content-center">
    <div class="col-6">

      <h2 class="text-center mt-4">Edit your movie!</h2>


      <%= render "form", movie: @movie %>
    </div>
  </div>
</main>
