<main class="container">
  <%= render 'sorting' %>

  <% if user_signed_in? %>
    <div class="header">
      <%= link_to "New movie",
                  new_movie_path,
                  class: "btn btn--primary" %>
    </div>
  <% end %>

  <%= render @movies %>

  <%= will_paginate @movies, list_classes: %w(pagination justify-content-end) %>
</main>
