<main class="container">
  <%= link_to sanitize("&larr; Back to movies"), movies_path %>
  <div class="header">
    <h1>
      <%= @movie.title %>
    </h1>
    <p>
      <%= @movie.description %>
    </p>
  </div>
</main>
